sudo apt-get -y install git; sudo apt-get -y install vim

sudo apt-get -y install gksu; sudo apt-get -y install build-essential; sudo apt-get -y install cmake

sudo apt-get -y install software-properties-common; sudo apt-get -y install ubuntu-restricted-extras

sudo apt-get -y install rar unace p7zip p7zip-full p7zip-rar unrar lzip lhasa arj sharutils mpack lzma lzop cabextract

sudo apt-get -y install libcurl4-openssl-dev; sudo apt-get -y install libxml2-dev; sudo apt-get -y install libglu1-mesa-dev; sudo apt-get -y install xorg; sudo apt-get -y install libssl-dev

sudo apt-get -y install default-jre; sudo apt-get -y install default-jdk

sudo apt-get -y install r-base

sudo apt-get -y install zsh; curl -L http://install.ohmyz.sh | sh; sudo chsh -s "$(command -v zsh)" "${USER}"

sudo apt-get -y install tilix; sudo apt-get -y install texlive-full

sudo apt-get -y install apt-transport-https ca-certificates curl gnupg-agent software-properties-common; curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -; sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu xenial stable"; sudo apt-get update; sudo apt-get -y install docker-ce docker-ce-cli containerd.io

curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -; sudo touch /etc/apt/sources.list.d/kubernetes.list ; echo "deb http://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee -a /etc/apt/sources.list.d/kubernetes.list; sudo apt-get update; sudo apt-get install -y kubectl

sudo apt -y install snapd; sudo snap install microk8s --classic --channel=1.16/stable

sudo add-apt-repository ppa:deadsnakes/ppa; sudo apt update; sudo apt -y install python3.7; sudo apt -y install python3-pip; sudo apt-get -y install python3-venv; sudo apt-get -y install python3.7-venv

curl -sSL https://install.astronomer.io | sudo bash

 git clone https://github.com/VundleVim/Vundle.vim.git ~/.vim/bundle/Vundle.vim
